<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
  <context:property-placeholder location="classpath:jdbc.properties" />
  <import resource="shiro.xml"></import>
  <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
    <property name="driverClassName" value="${jd.driver}"></property>
    <property name="url" value="${jd.url}"></property>
    <property name="username" value="${jd.user}"></property>
    <property name="password" value="${jd.password}"></property>
  </bean>
  <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <!-- 文件映射器，指定类文件 -->
    <property name="configLocation" value="classpath:mybatis.xml"/>

    <property name="plugins">
      <array>
        <!-- 分页插件配置 -->
        <bean id="paginationInterceptor" class="com.baomidou.mybatisplus.plugins.PaginationInterceptor">
          <property name="dialectType" value="mysql" />
        </bean>
      </array>
    </property>

    <property name="globalConfig" ref="globalConfiguration"></property>
  </bean>
  <bean id="globalConfiguration" class="com.baomidou.mybatisplus.entity.GlobalConfiguration">
    <!--
           AUTO->`0`("数据库ID自增")
            INPUT->`1`(用户输入ID")
           ID_WORKER->`2`("全局唯一ID")
           UUID->`3`("全局唯一ID")
       -->
    <property name="idType" value="0" />
  </bean>

  <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <!-- 自动扫描mapping.xml文件 -->
    <property name="basePackage" value="com.huayu.ssm_1901.mapper"></property>
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
  </bean>

  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource"></property>
  </bean>
  <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>

  <context:component-scan base-package="com.huayu.ssm_1901.service"/>
</beans>